.bible {
    margin: 5px 0px;
    padding: 5px 0px 10px 0px;
    border-bottom: 1px dotted #f5f5e9;
}
.numbering {
    color: #000;
    text-align: left;
    font-size: 12px;
    border-right: 1px dotted #f5f5e9;
}
.paragraph {
    
}